.modal {
    h1 {
        font-size: 1.5em;
        text-align: center;
    }
    h3 {
        text-align: right;
        font-size: .8em;
    }
    p, ul {
        text-align: justify;
        color: rgba(0,0,0,.5);
        font-size: .9em;
        line-height: 1.25em;
        strong {
            color: #7e5800;
        }
    }
}

.modal a.close-modal {
    top: 2px !important;
    right: 2px !important;
}

.modal {
    .footer {
        text-align: right;
    }
}


@media (max-width: 576px) {
    .jquery-modal {
        padding-left: 0 !important;
        padding-right: 0 !important;
        padding-bottom: 20px !important;
    }
    .modal {
        padding-left: 15px !important;
        padding-right: 15px !important;
        padding-top: 30px !important;
        ul {
            padding-left: 30px !important;
        }
    }
}
