#mainNav {
  z-index: 1;
  min-height: 56px;
  background-color: $primary-bg;
  .navbar-toggler {
    font-size: 80%;
    padding: 0.75rem;
    color: $primary-text;
    border: 1px solid $primary;
    &:focus {
      outline: none;
    }
  }
  .navbar-brand {
    color: $black;
    font-weight: 700;
    padding: .9rem 0;
    img{
      height: 60px;
    }
  }
  .navbar-nav {
    .nav-item {
      &:hover {
        color: fade($black, 80%);
        outline: none;
        background-color: transparent;
      }
      &:active,
      &:focus {
        outline: none;
        background-color: transparent;
      }
      .strong {
        color: red;
      }
    }
  }
  @media (min-width: 992px) {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
    .navbar-brand {
      padding: .5rem 0;
      color: fade-out($primary-text, .5);
    }
    .nav-link {
      transition: none;
      padding: 2rem 1.5rem;
      color: fade-out($primary-text, .5);
      &:hover {
        color: fade-out($black, .25);
      }
      &:active {
        color: white;
      }
    }
    &.navbar-shrink {
      background-color: $primary-bg;
      .navbar-brand {
        color: $black;
      }
      .nav-link {
        color: $primary-text;
        padding: 1.5rem 1.5rem 1.25rem;
        border-bottom: 0.25rem solid transparent;
        &:hover {
          color: $black;
        }
        &:active {
          color: darken($black, 15%);
        }
        &.active {
          color: $black;
          outline: none;
          border-bottom: 0.25rem solid $black;
        }
      }
    }
  }
}
